<app-header class="header"></app-header>

<div class="landingpage">
  <img class="left" src="./../../../assets/img/Purple shadow.png">
  <img class="right" src="./../../../assets/img/green.png">
  <div class="headline">
    <div class="i-am">
      <span>I am</span>
    </div>
    <div class="name-spacing">
      <span>Denis Kusmitschev</span>
      <p>FRONTEND DEVELOPER</p>
    </div>
  </div>
  <div class="talk-btn">
    <a href="#contact"><button>Lets Talk</button></a>
  </div>
</div>

<app-icons-and-scrollbar class="below-headline"></app-icons-and-scrollbar>
