.header {
  position: absolute;
  top: 0;
  height: 109px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landingpage {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./../../../assets/img/Purple\ shadow.png),
    url(./../../../assets/img/green.png);
  background-position: -240px 100px, right;
  background-repeat: no-repeat, no-repeat;
  > .talk-btn {
    > button {
      padding: 15px 30px 15px 30px;
      border-radius: 10px;
      background-color: #00bee8;
      font-size: 23px;
      color: white;
      margin-top: 50px;
      cursor: pointer;
      &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
      }
    }
  }
}

.headline {
  width: 100%;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  > .i-am {
    width: 200px;
    height: 108px;
    font-size: 83px;
    font-weight: 400;
    transform: rotate(-90deg);
  }
  > .name {
    width: 882px;
    height: 224px;
    gap: 6px;
    > span {
      font-size: 90px;
      font-weight: 700;
    }
    > p {
      font-size: 64px;
      font-weight: 400;
      color: #4b47ff;
    }
  }
}
