<div class="landingpage">
  <div class="test">
    <img class="left" src="./../../../assets/img/Purple shadow.png" />
    <img class="right" src="./../../../assets/img/green.png" />
    <img
      src="./../../../assets/img/green_shadow_lp.png"
      class="large-display"
    />
  </div>
  <div class="headline">
    <div class="i-am">
      <span>{{ "HEADLINE.I_AM" | translate }}</span>
    </div>
    <div class="name-spacing">
      <span>Denis Kusmitschev</span>
      <p>{{ "HEADLINE.JOB" | translate }}</p>
    </div>
  </div>
  <div class="talk-btn">
    <a href="#contact"
      ><button>{{ "HEADLINE.BTN" | translate }}</button></a
    >
  </div>
</div>

<app-icons-and-scrollbar class="below-headline"></app-icons-and-scrollbar>
