span {
    font-size: 36px;
}

.links {
    width: 324px;
    display: flex;
    gap: 29px;
    >a {
        text-decoration: none;
        color: white;
        font-size: 23px;
        cursor: pointer;
        &:hover {
            color: #00BEE8;
        }
    }
}