<app-contact-headline></app-contact-headline>
<div class="spacing-contact">
  <div class="problem-text">
    <div class="headline">
      <img src="./../../../assets/img/icons/green_line.png" />
      <h2>Got a problem to solve?</h2>
    </div>
    <span
      >Contact me through this form, I am interested in hearing from you,
      knowing your ideas and contributing to your projects with my work.</span
    >
    <p>Need a Frontend developer? <b>Contact me!</b></p>
  </div>

  <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <input
      #name="ngModel"
      [(ngModel)]="contactData.name"
      type="text"
      name="name"
      placeholder="Your name"
      required
    />
    <span *ngIf="!name.valid && name.touched" class="red-message"
      >Please enter your Name</span
    >

    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="email"
      name="email"
      placeholder="Your E-mail"
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      required
    />
    <span *ngIf="!email.valid && email.touched" class="red-message"
      >Please enter your E-mail</span
    >

    <textarea
      #message="ngModel"
      [(ngModel)]="contactData.message"
      name="message"
      placeholder="Your Message..."
      minlength="10"
      required
    ></textarea>
    <span *ngIf="!message.valid && message.touched" class="red-message"
      >Please enter your Message</span
    >

    <div class="checkbox">
      <label class="container">
        <input type="checkbox" (change)="isChecked()" />
        I've read the <a href="imprint">privacy policy </a>and agree to the
        processing of my data as outlined.
        <span class="checkmark"></span>
      </label>
    </div>
    <span
      *ngIf="!checkboxChecked && contactForm.submitted"
      class="red-message-privat-policy"
      >Please accept the privacy policy</span
    >

    <button
      type="submit"
      [class.disabled-button]="!contactForm.valid || !checkboxChecked"
      [class.enabled-button]="contactForm.valid && checkboxChecked"
    >
      Send message :)
    </button>
    <div *ngIf="formSubmitted" class="green-message">
      E-Mail send successfully!
    </div>
  </form>
</div>
<div class="playcing">
  <a href="#head"
    ><img class="up-btn" src="./../../../assets/img/icons/Go up button.png"
  /></a>
</div>
