.spacing-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.problem-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 50%;
  > .headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > img {
      width: 50px;
      height: 4px;
      margin-right: 50px;
    }
    > h2 {
      font-size: 32px;
    }
  }
  > span {
    margin-left: 100px;
    font-size: 18px;
  }
  > p {
    margin-left: 100px;
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  margin-right: 100px;

  > input {
    background-color: #141d2f;
    color: white;
    border-style: solid 1px;
    border-color: #4b47ff;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    width: 617px;
    height: 30px;
    margin-bottom: 32px;
    &:hover {
      border-color: #00bee8;
    }
    &.ng-invalid.ng-touched {
      border: 1px solid red;
      margin-bottom: 10px;
    }
  }

  > .red-message {
    margin-right: 55%;
    color: red;
    font-size: 14px;
    position: relative;
    top: -13px;
  }

  > .red-message-privat-policy {
    margin-right: 40%;
    color: red;
    font-size: 14px;
    position: relative;
    top: -16px;
    left: -24px;
  }

  > textarea {
    width: 617px;
    height: 202px;
    background-color: #141d2f;
    border-style: solid 1px;
    border-color: #4b47ff;
    color: white;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    margin-bottom: 32px;
    &:hover {
      border-color: #00bee8;
    }
    &.ng-invalid.ng-touched {
      border: 1px solid red;
      margin-bottom: 10px;
    }
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 50px;
    margin-bottom: 12px;
    font-size: 16px;
    width: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > a {
      text-decoration: none;
      color: #4b47ff;
    }
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 10px;
    left: -10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: #141d2f;
    border: solid 1px #00bee8;
  }

  .container input:checked ~ .checkmark {
    background-color: transparent;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  > button {
    width: 253px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    font-size: 23px;
    color: white;
    cursor: pointer;
    &:hover {
      width: 263px;
      height: 58px;
    }
  }

  .green-message {
    color: green;
    font-weight: bold;
  }

  .disabled-button {
    background-color: grey;
    pointer-events: none;
  }

  .enabled-button {
    background-color: #00bee8;
  }
}

.playcing {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  > a {
    > .up-btn {
      height: 46px;
      width: 46px;
      padding-top: 16px;
      padding-right: 100px;
      padding-bottom: 100px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1300px) {
  .spacing-contact {
    > form {
      margin-right: 50px;
      > input {
        width: 80%;
      }
      > textarea {
        width: 80%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .spacing-contact {
    flex-direction: column;
    align-items: center;
    height: 900px;
    > .problem-text {
      width: 100%;
      > span {
        margin: 0px 50px;
      }
      > p {
        margin: 20px 50px;
      }
      > .headline {
        > img {
          width: 45px;
          margin-right: 5px;
        }
      }
    }
    > form {
      margin-right: 0;
      > input {
        width: 80%;
      }
      > textarea {
        width: 80%;
      }
      > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        > .checkbox {
          height: 30px;
          width: 30px;
          margin-right: 12px;
        }
      }
      > button {
        margin-top: 20px;
      }
    }
  }
  .playcing {
    > img {
      padding-right: 30px;
    }
  }
}

@media (max-width: 460px) {
  .spacing-contact {
    height: 950px;
    > .problem-text {
      > span {
        margin: 0px 50px;
      }
      > p {
        margin: 20px 50px;
      }
      > .headline {
        > h2 {
          font-size: 21px;
        }
      }
      > span {
        font-size: 16px;
      }
    }
  }

  .form {
    > .checkbox {
      > .container {
        margin-left: 0;
        width: 70%;
        font-size: 14px;
      }
    }

    > .red-message {
      margin-right: 0;
    }

    > .red-message-privat-policy {
      margin-right: 0;
      left: 0;
    }
  }

  .playcing {
    height: 200px;
    align-items: center;
    > a {
      > .up-btn {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
      }
    }
  }
}
