<div class="information">
  <h2>About me</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae nemo
    perferendis ex aliquam fuga vel porro ducimus tempora quam ad ratione eum
    soluta fugit, voluptate doloribus? Sed reprehenderit ad ipsum.
  </p>
  <div class="symbols">
    <img style="margin-right: 14px;" src="./../../../assets/img/icons/lightbul.png" />
    <p>
      Some personal thing to share(...) Donec ut imperdiet diam, et convallis
      neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos.
    </p>
  </div>
  <div class="symbols">
    <img src="./../../../assets/img/icons/puzzel.png" />
    <p>
      Some personal thing to share(...) Donec ut imperdiet diam, et convallis
      neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos.
    </p>
  </div>
</div>
<div class="personal-pic">
    <img src="./../../../assets/img/pic_of_me.png">
</div>
