<div data-aos="fade-right" class="information">
  <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>
  <p>{{ "ABOUT_ME.INFO" | translate }}</p>
  <div class="symbols">
    <img
      style="margin-right: 14px"
      src="./../../../assets/img/icons/lightbul.png"
    />
    <p>
      {{ "ABOUT_ME.LIGHTBUL" | translate }}
    </p>
  </div>
  <div class="symbols">
    <img src="./../../../assets/img/icons/puzzel.png" />
    <p>
      {{ "ABOUT_ME.PUZZLE" | translate }}
    </p>
  </div>
</div>
<div data-aos="fade-left" class="personal-pic">
  <img src="./../../../assets/img/pic_of_me.png" />
</div>
