<div class="information">
  <h2>About me</h2>
  <p>
    Welcome to my site :) I am very interested in software development and am
    ready for any challenges that await me on this journey. As a former
    warehouse logistics specialist, I got to know teamwork and independent work
    well and take this experience with me into software development. If I can
    convince you with my current performance, I would look forward to being
    invited to an interview.
  </p>
  <div class="symbols">
    <img
      style="margin-right: 14px"
      src="./../../../assets/img/icons/lightbul.png"
    />
    <p>
      I live in Wendelstein (Bavaria), I am 30 years old and would like to learn and implement new things :)
    </p>
  </div>
  <div class="symbols">
    <img src="./../../../assets/img/icons/puzzel.png" />
    <p>
      I hope I can convince you with my skills that I am capable of taking on new challenges
    </p>
  </div>
</div>
<div class="personal-pic">
  <img src="./../../../assets/img/pic_of_me.png" />
</div>
