<div class="mobile-btn">
  <button>Get in touch</button>
</div>
<div class="icons">
  <p>
    <img src="./../../../assets/img/icons/Property 1=JavScript.png" />JavaScript
  </p>
  <p><img src="./../../../assets/img/icons/Property 1=Angular.png" />Angular</p>
  <p>
    <img
      src="./../../../assets/img/icons/Property 1=Typescript.png"
    />Typescript
  </p>
  <p><img src="./../../../assets/img/icons/Property 1=html.png" />HTML</p>
  <p><img src="./../../../assets/img/icons/Property 1=Git.png" />Git</p>
  <p>
    <img src="./../../../assets/img/icons/Property 1=Firebase.png" />Firebase
  </p>
  <p><img src="./../../../assets/img/icons/Property 1=css.png" />CSS</p>
  <p><img src="./../../../assets/img/icons/Property 1=Scrum.png" />Scrum</p>
  <p><img src="./../../../assets/img/icons/Property 1=Api.png" />Rest-Api</p>
  <p>
    <img src="./../../../assets/img/icons/Property 1=Matirial.png" />Material
    design
  </p>
</div>
<div class="text-and-button">
  <div class="headline">
    <h2>Skills</h2>
    <img src="./../../../assets/img/icons/green_line.png">
  </div>
  <span
    >I have gained experience in building projects with various front end
    technologies and concepts.</span
  >
  <button>Get in touch</button>
</div>
