<div class="mobile-btn">
  <button>Get in touch</button>
</div>

<div class="icons">
  @for (symbol of iconArray.skillIcons; track iconArray) {
  <p>
    <img
      (mouseover)="jump($event)"
      (mouseleave)="removeAnimation($event)"
      src="./../../../assets/img/icons/{{ symbol.icon }}"
    />{{ symbol.iconText }}
  </p>
  }
</div>

<div class="text-and-button">
  <div class="headline">
    <h2>Skills</h2>
    <img src="./../../../assets/img/icons/green_line.png" />
  </div>
  <span
    >I have gained experience in building projects with various front end
    technologies and concepts.</span
  >
  <a href="#contact"><button>Get in touch</button></a>
</div>
