<div class="icons">
    <img class="green-line" src="./../../../../assets/img/icons/green_line.png">
    <a class="aktiv-hover" href="https://github.com/Iznoble"><img src="./../../../../assets/img/icons/Vector.png"></a>
    <a class="aktiv-hover" href=""><img src="./../../../../assets/img/icons/mail.png"></a>
    <a class="aktiv-hover" href=""><img src="./../../../../assets/img/icons/linkin.png"></a>
</div>
<div class="scrolltext">
    <span>Scroll down</span>
    <img src="./../../../../assets/img/icons/arrow.png">
</div>
