body {
  display: block;
  margin: 0;
  background-color: rgb(20, 29, 47);
  color: white;
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

button {
  border: 0;
}

[data-aos] {
  overflow-x: hidden;
}


@media (min-width: 1440px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 1440px;
  }
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}
