<div class="footer">
  <div class="imprint">
    <span>D<b>e</b>nis</span>
    <a href="">Imprint</a>
  </div>
  <div class="name">
    <span>© Denis Kusmitschev 2024</span>
  </div>
  <div class="icons">
    <a class="aktiv-hover" href=""
      ><img src="./../../../assets/img/icons/Vector.png" alt=""
    /></a>
    <a class="aktiv-hover" href=""
      ><img src="./../../../assets/img/icons/mail.png" alt=""
    /></a>
    <a class="aktiv-hover" href=""
      ><img src="./../../../assets/img/icons/linkin.png" alt=""
    /></a>
  </div>
  <div class="mobile-imprint"><a href="">Imprint</a></div>
</div>
