<div class="footer">
  <div class="imprint">
   <a href="#head"><span>D<b>e</b>nis</span></a>
    <a href="imprint">{{ "IMPRINT.FOOTER" | translate }}</a>
  </div>
  <div class="name">
    <span>© Denis Kusmitschev 2024</span>
  </div>
  <div class="icons">
    <a class="aktiv-hover" href="https://github.com/Iznoble" target="_blank"
      ><img src="./../../../assets/img/icons/Vector.png" alt=""
    /></a>
    <a class="aktiv-hover" href="#contact"
      ><img src="./../../../assets/img/icons/mail.png" alt=""
    /></a>
    <a
      class="aktiv-hover"
      href="https://www.linkedin.com/in/denis-kusmitschev-303227324/"
      target="_blank"
      ><img src="./../../../assets/img/icons/linkin.png" alt=""
    /></a>
  </div>
  <div class="mobile-imprint">
    <a href="imprint">{{ "IMPRINT.FOOTER" | translate }}</a>
  </div>
</div>
